.header {
  display: block;
  margin: 0;
  width: 100%;
  max-width: 100%;
  box-shadow: none;
  background-color: #fcf963f8;
  position: fixed;
  height: 60px!important;
  overflow: hidden;
  z-index: 10;
}
